/* campi.css */

body {
    text-align: left; /* Allinea il testo a sinistra */
}

img {
    display: block; /* Rende le immagini un blocco separato */
    margin: 10px 0; /* Aggiunge margine sopra e sotto ogni immagine */
    width: 300px; /* Imposta la larghezza di tutte le immagini a 300 pixel */
    height: auto; /* Mantiene l'aspetto proporzionato rispetto alla larghezza */
}

@media screen and (min-width: 300px) and (max-width: 900px) {
    
    body {
        /* Esempio: Riduci la dimensione del testo del corpo su schermi più piccoli */
        font-size: 14px;
    }

    /* Aggiungi altre regole CSS necessarie per adattare il tuo layout */
    
    /* Esempio: Rendi le immagini responsive */
    img {
        max-width: 100%;
        height: auto;
    }

    /* Esempio: Modifica il layout per adattarlo a schermi più piccoli */
    .container {
        width: 100%; /* Adatta la larghezza del contenitore al 100% dello schermo */
        padding: 10px; /* Esempio: Riduci il padding del contenitore */
    }
}
