body {
    background-image: url('https://static.vecteezy.com/ti/vettori-gratis/p3/5488932-vettore-campo-di-calcio-o-futsal-vista-dall-alto-vettoriale.jpg'); /* Specifica il percorso dell'immagine */
    background-size: cover; /* Adatta l'immagine alla dimensione del corpo */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine */
    color: white; /* Cambia il colore del testo per renderlo leggibile sull'immagine di sfondo */
}

#Benvenuto_profilo {
    color: black; /* Cambia il colore del testo a verde */
    text-align: center; /* Centra il testo */
    margin-bottom: 20px; /* Aggiunge spazio sotto il titolo */
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

#informazione_utente {
    color: black; /* Cambia il colore del testo a verde */ 
    text-align: center; /* Centra il testo */
    margin-bottom: 20px; /* Aggiunge spazio sotto il titolo */
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: -90px;
}

#dati_utente {
    color: black; /* Cambia il colore del testo a verde */ 
    text-align: center; /* Centra il testo */
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: -90px;
}

.impostazioni_button {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
    
    body {
        /* Esempio: Riduci la dimensione del testo del corpo su schermi più piccoli */
        font-size: 14px;
    }

    /* Aggiungi altre regole CSS necessarie per adattare il tuo layout */
    
    /* Esempio: Rendi le immagini responsive */
    img {
        max-width: 100%;
        height: auto;
    }

    /* Esempio: Modifica il layout per adattarlo a schermi più piccoli */
    .container {
        width: 100%; /* Adatta la larghezza del contenitore al 100% dello schermo */
        padding: 10px; /* Esempio: Riduci il padding del contenitore */
    }
}
