body {
    background-color: #cfe8c5; /* Colore di sfondo della pagina */
    margin: 0; /* Rimuove il margine predefinito del corpo */
    padding: 0; /* Rimuove il padding predefinito del corpo */
}

#div_registrazione {
    position: relative;
}


#titolo_registrazione{
    color: green; /* Cambia il colore del testo a verde */
    font-size: 2em; /* Imposta la dimensione del testo */
    text-align: center; /* Centra il testo */
    margin-bottom: 20px; /* Aggiunge spazio sotto il titolo */
}

#messaggio_email_utente_password {
    color: green; 
    margin-top: 25px;  /* Aggiunge spazio sopra il messaggio */
    text-align: center;
}

#form_registrazione {
    text-align: center;
}

#messaggi_errori {
    margin-top: 20px; /* Aggiunge spazio sopra gli errori */
    color: green;
    text-align: center;
}
