/* Aggiungi o modifica queste regole CSS nel tuo file styles.css */

body {
    background-image: url('https://static.vecteezy.com/ti/vettori-gratis/p3/5488932-vettore-campo-di-calcio-o-futsal-vista-dall-alto-vettoriale.jpg'); /* Specifica il percorso dell'immagine */
    background-size: cover; /* Adatta l'immagine alla dimensione del corpo */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine */
    color: white; /* Cambia il colore del testo per renderlo leggibile sull'immagine di sfondo */
}


#div_registrazione{
    color: black; /* Cambia il colore del testo a verde */
    font-size: 2em; /* Imposta la dimensione del testo */
    text-align: center; /* Centra il testo */
    margin-bottom: 20px; /* Aggiunge spazio sotto il titolo */
    font-size: 20px;
}

#messaggio_email_utente_password {
    color: black; 
    margin-top: 25px;  /* Aggiunge spazio sopra il messaggio */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: -90px;
}

#form_registrazione {
    text-align: center;

}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

#messaggi_errori {
    margin-top: 20px; /* Aggiunge spazio sopra gli errori */
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    animation: zoomIn 1.5s ease-out;
    margin-left: -90px;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
    
    body {
        /* Esempio: Riduci la dimensione del testo del corpo su schermi più piccoli */
        font-size: 14px;
    }

    /* Aggiungi altre regole CSS necessarie per adattare il tuo layout */
    
    /* Esempio: Rendi le immagini responsive */
    img {
        max-width: 100%;
        height: auto;
    }

    /* Esempio: Modifica il layout per adattarlo a schermi più piccoli */
    .container {
        width: 100%; /* Adatta la larghezza del contenitore al 100% dello schermo */
        padding: 10px; /* Esempio: Riduci il padding del contenitore */
    }
}
