/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

.recensione {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#recensioneForm {
    margin-top: 20px;
}

#recensioneForm label,
#recensioneForm input,
#recensioneForm textarea,
#recensioneForm button {
    display: block;
    margin-bottom: 10px;
}

/* Barra di navigazione */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
.link_nav-bar {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.link_nav-bar:hover {
    background-color: #5a0000;
}

.link_nav-bar.active {
    background-color: #007e1f;
}
