/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    /* Impostazione dell'immagine come sfondo */
    background-image: url('https://static.vecteezy.com/ti/vettori-gratis/p3/5488932-vettore-campo-di-calcio-o-futsal-vista-dall-alto-vettoriale.jpg');
    /* Altri stili per il background */
    background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
    background-size: cover; /* Copre completamente lo sfondo */
}


.recensione {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#recensioneForm {
    margin-top: 20px;
}

#recensioneForm label,
#recensioneForm input,
#recensioneForm textarea,
#recensioneForm button {
    display: block;
    margin-bottom: 10px;
}

/* Barra di navigazione */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
.link_nav-bar {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.link_nav-bar:hover {
    background-color: green;
}

.header-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black; /* Colore di sfondo della barra */
    color: white; /* Colore del testo sulla barra */
    text-align: center; /* Centra il testo */
    padding: 10px; /* Aggiunge spazio interno alla barra */
}


.footer-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black; /* Colore di sfondo della barra */
    color: white; /* Colore del testo sulla barra */
    text-align: center; /* Centra il testo */
    padding: 10px; /* Aggiunge spazio interno alla barra */
}

.link_nav-bar.active {
    background-color: #007e1f;
}


p {
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 100px;
}


#div_titolo {
    color: black; 
    font-size: 2em; /* Imposta la dimensione del testo */
    text-align: center; 
    margin-bottom: 20px; /* Aggiunge spazio sotto il titolo */
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

